a, a:visited {
    color: #0864c7;
}

a:hover {
    text-decoration: none;
    color: #054385;
}

p {
    margin: 10px 0;
}

img {
    width: 30%;
    margin: 10px 0;
    border: 1px solid #999;
    padding: 3px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

.container {
    color: #333;
    padding: 10px;
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
    font-size: 1em;
    margin: 10px auto;
    line-height: 1.3;
}