a, a:visited {
    color: #0864c7;
}

a:hover {
    text-decoration: none;
    color: #054385;
}

img {
    width: 25%;
}

p {
    margin: 10px 0;
}

.container {
    padding: 10px;
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
    font-size: 0.85em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px auto;
    line-height: 1.3;
}