html, body {
    line-height: 1.5;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a, a:visited {
    color: #000099;
}

ul {
    padding-left: 20px;
    list-style: square;
}

#column-1 {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    #column-1 {
        width: 100%;
    }
}